html,
body,
div#root,
div.App {
    margin: 0;
    height: auto;
}



.color-red {
    color: #d10000;
}

.color-blue {
    color: blue;
}

.color-bg-yellow {
    background-color: lightblue;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.div-center {
    text-align: center;
    margin: auto;
}

.div {
    overflow: hidden
}

;


.ellipsis {
    height: auto;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.container {
    display: flex;
    flex-wrap: nowrap;
  }
  
.box {
    width: 33%;
    height: 607.6px;
    margin: 5px;
}

.selectBox1 {
    width: 30%;
    margin-right: 1%;
    display: inline-block;
}

.holidaySearch1 {
    width: 19%;
}

.react-calendar__tile--hasActive {
    background-color: none;
}